<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003" ToolsVersion="4.0">
  <PropertyGroup>
    <XUnitPath>Src\packages\xunit.runners.1.9.2\tools</XUnitPath>
    <NuGetPath>Src\packages\NuGet.CommandLine.2.8.1\tools</NuGetPath>
    <NuGetPackageDependencyRoot>albedo</NuGetPackageDependencyRoot>
  </PropertyGroup>
  <ItemGroup>
    <BuildOutput Include="Src\Fare\bin\Release\Fare.dll" />
    <BuildOutput Include="Src\Fare\bin\Release\Fare.XML" />
  </ItemGroup>
  <ItemGroup>
    <ProjectToBuild Include="Src\*.sln" />
  </ItemGroup>
  <!-- Expand build output files AFTER the build has run. 
       Note that the Build Task MUST BE defined by the file that includes this file. -->
  <Target Name="GetTestAssemblies" DependsOnTargets="Build">
    <ItemGroup>
      <TestAssemblies Include="**\bin\Release\*IntegrationTests*.dll" />
    </ItemGroup>
  </Target>
</Project>
